<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta http-equiv="Expires" content="<%= Time.at(0) %>">
		<meta http-equiv="Pragma" content="no-cache">
		<title>Online secure password generator</title>
	</head>
	<body>
		<h1>Online secure password generator</h1>
		<p><a href="">Get</a> a set of strong <strong>secure passwords</strong> generated with SecureRandom.urlsafe_base64.</p>
		<table>
			<% 20.times do %>
				<tr>
					<td><code><%= SecureRandom.urlsafe_base64(5) %></code></td>
					<td><code><%= SecureRandom.urlsafe_base64(6) %></code></td>
					<td><code><%= SecureRandom.urlsafe_base64(7) %></code></td>
					<td><code><%= SecureRandom.urlsafe_base64(8) %></code></td>
					<td><code><%= SecureRandom.urlsafe_base64(9) %></code></td>
					<td><code><%= SecureRandom.urlsafe_base64(10) %></code></td>
				</tr>
			<% end %>
		</table>
		<p>Clone from <a href="https://github.com/ceccec/pwgen">https://github.com/ceccec/pwgen</a></p>
	</body>
</html>
